/.next/
/.pnp/

/build
/coverage
/node_modules
/out

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

*.pem
*.tsbuildinfo

.DS_Store
.env*
.pnp.*
.vercel
.netlify
.yarn/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

next-env.d.ts
