@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;

	--primary: #2563eb;
	--secondary: #F97316;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #2563eb;
		--secondary: #F97316;

		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
